<h1> Find Friend</h1> 
<h2>People You May Know</h2>
  <% @users.each do |user| %>
    <tr>
      <td><p><b><%= user.uname %></b></p></td>
      </tr>
  <%# end %><br>
     <p> <%= link_to "Add Friend", friend_requests_path(:friend_id => user),:method => :post %> </p> 
          </tr><br>
  <% end %>
 
